.header {
  padding: 140px 0px 55px 0px;
}

.header__title {
  margin-bottom: 18px;
  color: #161d25;
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  text-align: center;
}

.header__text {
  padding-right: 10px;
  color: #5d7085;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  min-height: max-content;
  padding: 15px;
}

.list__item {
  list-style: none;
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: 138px 1fr min-content;
  gap: 17px;
  width: 266px;
  height: 100%;
  border-radius: 2px;
  padding: 49px 35px 36px 35px;
}

.card_yellow {
  background: linear-gradient(180deg, #fdc624 0%, #e6c434 99.36%);
}

.card_green {
  background: linear-gradient(180deg, #55dce7 0%, #3dcad4 100%);
}

.card_blue {
  background: linear-gradient(180deg, #6bdfff 0%, #3dacfc 100%);
}

.card_grey {
  background: linear-gradient(180deg, #bfcedc 0%, #939fb3 100%);
}

.image {
  justify-self: center;
  align-self: end;
  margin-left: -3px;
}

.card__title {
  color: #ffffff;
  font-weight: 500;
  font-size: 21px;
  line-height: 1;
}

.card__title-text {
  margin-bottom: 28px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}

.price::before {
  content: "$";
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: top;
  padding-right: 3px;
}

.label {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.label::before {
  content: url(./images/star.png);
  padding-right: 4px;
}

.price {
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 67px;
  line-height: 1.15;
  letter-spacing: -0.1px;
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 18.7px;
  padding-left: 15px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  list-style-image: url(./images/check.png);
}

.card__list-item {
  display: list-item;
  padding-left: 5px;
}

.button {
  width: 196px;
  margin-top: 37.6px;
  border: 2px solid;
  border-color: currentColor;
  border-radius: 2px;
  padding: 12px 51px 9px 51px;
  color: white;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  color: inherit;
  background-color: white;
  mix-blend-mode: screen;
}
